{% extends "base.html" %}

{% block content %}
    <h1>All Users</h1>
    <a href='/newpost'>Make New Post</a>
    <a href='/blogs'>View All Blogs</a>

    <hr />

        {% if users|length == 0 %}
        <p>No users yet</p>
        {% else %}

            <ul>
                {% for user in users %}
                <li>
                    <a href="/blogs?id={{user.id}}">{{user.email}}</a>
                </li>
                {% endfor %}
            </ul>

        {% endif %}

    <hr />
{% endblock %}